.u-section-1 {
  background-image: url("images/f90d8acc9332f0c166b014997fc32fa7bdcfbf803f31aa5e5505a881198c00f804385ebc7090f5fa233fb6b67d81838e801d15335dca7b2ef2eed5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 221px 651px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 0 794px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 451px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 594px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 12.33% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 46px;
}

.u-section-2 .u-btn-1 {
  align-self: center;
  border-style: none;
  background-image: none;
  margin: 0 auto 0 145px;
}

.u-section-2 .u-btn-2 {
  align-self: center;
  border-style: none;
  background-image: none;
  margin: -46px auto 0 326px;
}

.u-section-2 .u-btn-3 {
  align-self: center;
  border-style: none;
  background-image: none;
  margin: -46px auto 0 507px;
}

.u-section-2 .u-btn-4 {
  align-self: center;
  border-style: none;
  background-image: none;
  margin: -46px auto 0 688px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  background-image: none;
  margin: -46px auto 0 868px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 73px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 199px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 380px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 561px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 741px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-2 {
    margin-left: 73px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 160px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 341px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 521px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-3 {
    margin-left: 73px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 161px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-4 {
    margin-left: 73px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 141px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 776px;
  margin: 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 98px 113px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 19px 113px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 85px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 347px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 147px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 46px;
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-layout-wrap-1 {
  width: 833px;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 20px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 438px;
  background-image: url("images/51py13PzjaL.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 438px;
  background-image: url("images/hangover-3-072267837.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 220px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 220px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 20px auto 0;
}

.u-section-5 .u-image-3 {
  min-height: 438px;
  background-image: url("images/MV5BYjk3ZWQ4ZmMtNzM1OS00NDQxLWJmZjctNzFlODAyODRkMjcyXkEyXkFqcGdeQXVyMjEwODIzODA._V1_.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-5 .u-layout-cell-1 {
    z-index: 0;
  }

  .u-section-5 .u-image-1 {
    z-index: 1;
  }

  .u-section-5 .u-image-2 {
    z-index: 2;
  }

  .u-section-5 .u-layout-cell-5 {
    z-index: 6;
  }

  .u-section-5 .u-image-3 {
    z-index: 5;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1966px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
    order: 1;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 577px;
    order: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 581px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 244px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 240px;
    order: 1;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 527px;
    order: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-5 .u-image-1 {
    min-height: 536px;
  }

  .u-section-5 .u-image-2 {
    min-height: 536px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    min-height: 536px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 46px;
}.u-section-7 {
  background-image: url("images/1.png");
  background-position: 50% 50%;
  min-height: 510px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 3rem;
  margin: 119px calc(((100% - 1140px) / 2) + 278px) 0 calc(((100% - 1140px) / 2) + 537px);
}

.u-section-7 .u-line-1 {
  width: 579px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 14px calc(((100% - 1140px) / 2) + 24px) 0 auto;
}

.u-section-7 .u-text-2 {
  line-height: 2;
  margin: 7px calc(((100% - 1140px) / 2) + 24px) 60px calc(((100% - 1140px) / 2) + 537px);
}

.u-section-7 .u-image-1 {
  width: 540px;
  left: 0;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 421px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 428px);
  }

  .u-section-7 .u-line-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 391px);
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 391px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-7 .u-image-1 {
    width: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 322px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 170px;
    margin-right: calc(((100% - 1140px) / 2) + 412px);
  }

  .u-section-7 .u-line-1 {
    margin-top: -17px;
    margin-left: calc(((100% - 1140px) / 2) + 376px);
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 242px;
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 515px);
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 152px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 88px;
    margin-right: calc(((100% - 1140px) / 2) + 425px);
    margin-left: calc(((100% - 1140px) / 2) + 415px);
  }

  .u-section-7 .u-line-1 {
    width: 116px;
    margin-left: calc(((100% - 1140px) / 2) + 425px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 454px);
    margin-left: calc(((100% - 1140px) / 2) + 425px);
  }
}.u-section-8 {
  background-image: url("images/1.png");
  background-position: 50% 50%;
  min-height: 539px;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 3rem;
  margin: 127px calc(((100% - 1140px) / 2) + 791px) 0 calc(((100% - 1140px) / 2) + 24px);
}

.u-section-8 .u-line-1 {
  width: 579px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 6px auto 0 calc(((100% - 1140px) / 2) + 24px);
}

.u-section-8 .u-text-2 {
  line-height: 2;
  margin: 16px calc(((100% - 1140px) / 2) + 537px) 60px calc(((100% - 1140px) / 2) + 24px);
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 522px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 444px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 137px;
    margin-right: calc(((100% - 1140px) / 2) + 612px);
    margin-left: calc(((100% - 1140px) / 2) + 528px);
  }

  .u-section-8 .u-line-1 {
    margin-left: calc(((100% - 1140px) / 2) + 359px);
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: calc(((100% - 1140px) / 2) + 520px);
    margin-left: calc(((100% - 1140px) / 2) + 491px);
  }

  .u-section-8 .u-image-1 {
    width: 570px;
    left: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 340px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 170px;
    margin-right: calc(((100% - 1140px) / 2) + 518px);
    margin-left: calc(((100% - 1140px) / 2) + 622px);
  }

  .u-section-8 .u-line-1 {
    margin-top: -17px;
    margin-left: calc(((100% - 1140px) / 2) + 264px);
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 539px);
    margin-left: calc(((100% - 1140px) / 2) + 601px);
  }

  .u-section-8 .u-image-1 {
    left: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 255px;
  }

  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 720px);
  }

  .u-section-8 .u-line-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 449px);
    margin-left: calc(((100% - 1140px) / 2) + 691px);
  }

  .u-section-8 .u-image-1 {
    left: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 161px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 88px;
    margin-right: calc(((100% - 1140px) / 2) + 315px);
    margin-left: calc(((100% - 1140px) / 2) + 825px);
  }

  .u-section-8 .u-line-1 {
    width: 116px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 286px);
    margin-left: calc(((100% - 1140px) / 2) + 854px);
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    left: 130px;
  }
}.u-section-9 {
  background-image: url("images/1.png");
  background-position: 50% 50%;
  min-height: 510px;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 3rem;
  margin: 119px calc(((100% - 1140px) / 2) + 278px) 0 calc(((100% - 1140px) / 2) + 537px);
}

.u-section-9 .u-line-1 {
  width: 579px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 14px calc(((100% - 1140px) / 2) + 24px) 0 auto;
}

.u-section-9 .u-text-2 {
  line-height: 2;
  margin: 7px calc(((100% - 1140px) / 2) + 24px) 60px calc(((100% - 1140px) / 2) + 537px);
}

.u-section-9 .u-btn-1 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 540px;
  left: 0;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 421px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 428px);
  }

  .u-section-9 .u-line-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 391px);
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 391px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-9 .u-image-1 {
    width: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 322px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 170px;
    margin-right: calc(((100% - 1140px) / 2) + 412px);
  }

  .u-section-9 .u-line-1 {
    margin-top: -17px;
    margin-left: calc(((100% - 1140px) / 2) + 376px);
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 242px;
  }

  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 515px);
  }

  .u-section-9 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 152px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 88px;
    margin-right: calc(((100% - 1140px) / 2) + 425px);
    margin-left: calc(((100% - 1140px) / 2) + 415px);
  }

  .u-section-9 .u-line-1 {
    width: 116px;
    margin-left: calc(((100% - 1140px) / 2) + 425px);
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 454px);
    margin-left: calc(((100% - 1140px) / 2) + 425px);
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 46px;
}.u-section-11 {
  background-image: none;
  min-height: 510px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-image-1 {
  min-height: 510px;
  background-image: url("images/fedc3d1d39e8b8bc96f582e67a59dde323adb5a6bfe3c64981704e96e4f42d3a94e7214a06015010439415347cb994a7dceae485fde2d704cadbe4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-11 .u-icon-1 {
  height: 87px;
  width: 87px;
  margin: 25px auto 0 0;
}

.u-section-11 .u-text-1 {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  margin: 20px 0 0 35px;
}

@media (max-width: 1199px) {
  .u-section-11 {
    min-height: 421px;
  }

  .u-section-11 .u-image-1 {
    min-height: 421px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-11 {
    min-height: 322px;
  }

  .u-section-11 .u-image-1 {
    min-height: 322px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-11 {
    min-height: 730px;
  }

  .u-section-11 .u-image-1 {
    min-height: 537px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-11 {
    min-height: 497px;
  }

  .u-section-11 .u-image-1 {
    min-height: 397px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 10px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 46px;
}.u-section-13 {
  background-image: url("images/1b08da2d73af0730147b036db1b22f7980338c3b8ce0c3765a7f8675995072ae49bf4ba98cfac674bb37bac012ec94b68ca4abc3e90b4deb8bb203_1280.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 449px;
}

.u-section-13 .u-group-1 {
  min-height: 250px;
  width: 825px;
  margin: 45px auto 0 0;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  letter-spacing: normal;
  margin: 46px 0 0;
}

.u-section-13 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-13 .u-form-1 {
  height: 49px;
  margin: 0 315px 60px 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .u-section-13 .u-form-1 {
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-group-1 {
    width: 720px;
  }

  .u-section-13 .u-text-1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  .u-section-13 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-group-1 {
    width: 340px;
  }

  .u-section-13 .u-text-1 {
    font-size: 2rem;
  }
}